<li class="js-faq-item">
  <a href="javascript:;" class="js-faq-link list-item has-feedback" data-id="<%= id %>">
    <h4 class="list-heading"><%= question %></h4>
    <i class="js-faq-angel bm-angle-right list-feedback"></i>
  </a>
  <div class="js-faq-answer list-body p-b p-r text-normal display-none">
    <%= answer %>
  </div>
</li>
