<li class="js-faq-item">
  <a href="javascript:;" class="js-faq-link list-item list-has-arrow" data-id="<%= id %>">
    <h4 class="list-title"><%= question %></h4>
    <i class="js-faq-angel bm-angle-right list-arrow"></i>
  </a>
  <div class="js-faq-answer list-text pb-3 pr-3 text-sm display-none">
    <%= answer %>
  </div>
</li>
